{% extends 'animal/base.html' %}
{% block content %}

<h1>{{ post.title }}</h1>
<p class="link-read-post">
				{% if post.owner == user.username %}
				{% if post.is_published %}
				<span class="on_post-info">Опубліковано на сайті</span>
				{% else %}
				<span class="off_post-info">Не опубліковано на сайті</span>
				{% endif %}
				<a href="{% url 'delete_post' post.slug %}">Видалити</a>
				<a href="{% url 'update_post' post.slug %}">Оновити</a>
</p>
				{% endif %}

{% if post.photo %}
<p><img class="img-article-left" src={{post.photo.url}}></p>

{% endif %}

{{post.content|linebreaks}}
{% endblock %}

